openapi: 3.2.0
info:
  title: NewsBreak Advertising Event Management API
  version: v1
  description: 'The NewsBreak Advertising API (NewsBreak API for Business) lets technology companies, direct advertisers and agencies programmatically manage the NewsBreak Ads Manager at scale: create and manage organizations, ad accounts and ad-account users; build campaigns, ad sets and ads; upload creative assets to the NewsBreak CDN; configure audience targeting and inventory platforms; manage account spending caps; read conversion tracking events; and run multidimensional performance reports.


    This document was generated by API Evangelist from the operations NewsBreak publishes in its Ad Manager API reference (https://advertising-api.newsbreak.com/hc/en-us). NewsBreak does not publish a machine-readable OpenAPI definition; every path, method, parameter, enumeration and response field here is transcribed from the published reference articles, which are linked per operation via externalDocs.'
  termsOfService: https://www.newsbreak.com/terms
  contact:
    name: NewsBreak Ad Support
    email: adsupport@newsbreak.com
    url: https://advertising-api.newsbreak.com/hc/en-us
servers:
- url: https://business.newsbreak.com/business-api/v1
  description: NewsBreak Advertising API production
security:
- AccessToken: []
tags:
- name: Event Management
  description: Conversion tracking events (pixel and postback).
paths:
  /event/getList/{adAccountId}:
    get:
      operationId: getEvents
      tags:
      - Event Management
      summary: Get events
      description: Get all conversion tracking events (pixel or postback) for an ad account.
      externalDocs:
        description: 'NewsBreak reference: Get Events'
        url: https://advertising-api.newsbreak.com/hc/en-us/articles/37869390553101-Get-Events
      parameters:
      - name: adAccountId
        in: path
        required: true
        description: ID of the ad account of the events.
        schema:
          type: string
      - name: os
        in: query
        required: false
        description: Filter events by operating system. Use os= (empty) to filter for web events. Omit to get all events.
        schema:
          type: array
          items:
            type: string
            enum:
            - IOS
            - ANDROID
      responses:
        '200':
          description: 'Successful response. Check `code` in the body: 0 is success, any other value is an error (see Return Codes).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Permission denied, not logged in, invalid access token, or rate limit exceeded (return codes 403 / 4031 / 4033 / 4034).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
components:
  schemas:
    EventListResponse:
      type: object
      description: Envelope carrying a list of tracking events.
      properties:
        code:
          type: integer
          description: Status code. 0 is successful; see Return Codes.
        errMsg:
          type: string
          description: Error message when code != 0.
        data:
          type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/Event'
    Envelope:
      type: object
      description: The standard NewsBreak response envelope. Every operation returns HTTP 200 with a `code` field; code 0 means success and any other value is an error (see Return Codes).
      properties:
        code:
          type: integer
          description: Status code. 0 is successful; see Return Codes.
        errMsg:
          type: string
          description: Error message when code != 0.
        data:
          type: object
          description: Response object.
    Event:
      type: object
      description: A conversion tracking event (pixel or postback).
      properties:
        id:
          type: string
          description: Event tracking ID, to be used on an ad set.
        name:
          type: string
          description: Event tracking name.
        orgId:
          type: string
          description: Organization ID.
        type:
          type: string
          description: Event type.
          enum:
          - PIXEL
          - POSTBACK
        eventType:
          type: string
          description: The event type of the tracking event.
        eventParams:
          type: array
          description: Attachable parameters of the tracking event.
          items:
            type: string
        url:
          type: string
          description: URL of the tracking event.
        os:
          type: string
          description: Operating system of the tracking event.
          enum:
          - IOS
          - ANDROID
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Authorized access token. Generate it in the NewsBreak Ad Manager under Resources -> API Access Tokens ("Generate Token"). The token carries the permissions granted by the advertiser. Keep it secret.
externalDocs:
  description: NewsBreak Ad Manager API reference
  url: https://advertising-api.newsbreak.com/hc/en-us
